* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
  background: url("888.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0px 12px 50px rgba(12, 91, 52, 0.9),
     0px 0px 30px rgba(18, 87, 53, 0.6); 
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.flow-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls span {
  font-size: 1.2rem;
  color: #555;
}

.button {
  padding: 12px 25px;
  background-color: #10442c;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #356b4e;
}

.todo-list {
  margin-top: 20px;
  padding: 0;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f0f4ff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.todo-container:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.todo-text {
  font-size: 1.2rem;
  color: #333;
  text-align: left;
  flex-grow: 1;
}

.todo-time {
  font-size: 0.9rem;
  color: #888;
  margin-left: 15px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #999;
}

.todo-delete {
  padding: 8px 15px;
  background-color: #810f0f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-delete:hover {
  background-color: #a45b63;
}
